@model SIIR.Models.Coach

@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutWithoutNavBar";
}

<style>
    .welcome-text {
        min-width: 150px;
    }

    .title {
        background-color: #1a3c6e;
    }

    .card {
        min-width: 175px;
        max-width: 400px;
        margin: 0 auto;
    }

    .card-img-top {
        max-height: 125px;
        object-fit: cover; 
        object-position: top; 
        width: 100%; 
    }

    .click {
        cursor: pointer;
    }
</style>

<div class="container text-center" id="container-main">
    <h1 class="display-2 welcome-text">Bienvenido @Model.Name</h1>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 py-4" id="teamsContainer">
    </div>

    <div class="not-found" style="display: none;">
        <i class="fa-solid fa-ban fs-2" style="color: red"></i>
        <p class="fs-2">No se encontraron elementos</p>
    </div>
</div>

<partial name="_ShowStudentsModal"/>

@section Scripts {
    <script>
        $(document).ready(function () {
            
            // Función para cargar los equipos mediante AJAX
            function cargarEquipos() {
                
                $.ajax({
                    url: '/Coach/Home/GetAllTeams',
                    type: 'GET',
                    data: {
                        coachId: @Model.Id
                    },
                    success: function (data) {
                        var teamsContainer = $("#teamsContainer");
                        teamsContainer.empty(); // Limpiar el contenedor antes de agregar las tarjetas

                        if (data.data.length == 0) {
                            $(".not-found").show();
                        } else {
                            $(".not-found").hide();
                        }

                        // Iterar sobre los equipos obtenidos y crear las tarjetas
                        data.data.forEach(function (team) {
                            var teamCategory = team.category ? team.category.toLowerCase() : 'sin categoría';
                            var representativeCategory = team.representative && team.representative.category
                                ? team.representative.category.toLowerCase()
                                : 'sin categoría';

                            var teamCategoryClass = 'bg-secondary';
                            switch (teamCategory) {
                                case 'femenil':
                                    teamCategoryClass = 'bg-danger';
                                    break;
                                case 'varonil':
                                    teamCategoryClass = 'bg-primary';
                                    break;
                                case 'mixto':
                                    teamCategoryClass = 'bg-info';
                            }

                            var representativeCategoryClass = 'bg-secondary';
                            switch (representativeCategory) {
                                case 'deportivo':
                                    representativeCategoryClass = 'bg-success';
                                    break;
                                case 'cultural':
                                    representativeCategoryClass = 'bg-warning';
                                    break;
                            }

                            var categoryBadges = `
                                    <span class="badge rounded-pill ${teamCategoryClass}">${team.category}</span>
                                    <span class="badge rounded-pill ${representativeCategoryClass}">${team.representative.category}</span>
                                `;

                            var teamUrl = `/Coach/Team/Roster/${team.id}`;

                            var cardHtml = `
                                    <div class="col">
                                        <div class="card h-100">
                                            <a href="${teamUrl}" style="text-decoration: none;">
                                                <img src="${team.imageUrl}" class="card-img-top h-100" alt="Imagen del equipo" />
                                                <p class="text-center fs-6 py-2 mb-0 text-white title">${team.name.toUpperCase()}</p>
                                            </a>
                                            <div class="card-body">
                                                <div class="d-flex flex-wrap gap-2 mb-2">
                                                    ${categoryBadges}
                                                </div>
                                                <div class="d-flex justify-content-end fs-5">
                                                    <i id="generateCertificateBtn" class="fa-solid fa-eye me-3 click" data-team-id="${team.id}" style="color: #1a3c6e"></i>
                                                    <i id="downloadStudentsInfo" class="fa-solid fas fa-download me-3 click" data-team-id="${team.id}" style="color: #b22222"></i>
                                                    <i id="descargarDocsEquipo" class="fa-solid fa-file-download click" data-team-id="${team.id}" style="color: #2e8b57"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>`;

                            teamsContainer.append(cardHtml);
                        });
                    },
                    error: function (error) {
                        toastr.error('Error al cargar la lista de los equipos');
                    }
                });
            }

            // Llamar a la función al cargar la página para mostrar los equipos iniciales
            cargarEquipos();
        });
    </script>
    <script>
        var getStudentsUrl = '@Url.Action("GetStudentsByTeamId", "Teams", new { area = "Admin" })';
        var downloadAllInfoUrl = '@Url.Action("GenerateStudentsCertificates", "Teams", new { area = "Admin" })';
        var downloadAllDocsUrl = '@Url.Action("DownloadAllByTeam", "Document", new { area = "Admin" })';
    </script>
    <script src="~/js/rosterQuickActions.js"></script>

}

