@model SIIR.Models.ViewModels.StudentUniformVM

@{
    ViewData["Title"] = "Informacion";
    Layout = "_LayoutWithoutNavBar";
}
<link rel="stylesheet" href="~/css/student/edit.css" />

<div class="container info-container">
		<div class="bg-white rounded-3 shadow-sm p-4">
		<form asp-action="Edit" method="post" enctype="multipart/form-data">
			<input type="hidden" asp-for="student.Id" />
			<input type="hidden" asp-for="student.CoachId" />
			<input type="hidden" asp-for="student.TeamId" />
			<div asp-validation-summary="All" class="text-danger"></div>
			<h2 class="text-center mb-4">Editar Estudiante</h2>

			<div>
				<ul class="nav nav-tabs d-none d-sm-flex" id="myTab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="student-tab" data-bs-toggle="tab" data-bs-target="#student" type="button" role="tab" aria-controls="student" aria-selected="true">Estudiante</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="uniform-tab" data-bs-toggle="tab" data-bs-target="#uniform" type="button" role="tab" aria-controls="uniform" aria-selected="false">Uniforme</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="coach-tab" data-bs-toggle="tab" data-bs-target="#coach" type="button" role="tab" aria-controls="coach" aria-selected="false">Coach</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="team-tab" data-bs-toggle="tab" data-bs-target="#team" type="button" role="tab" aria-controls="team" aria-selected="false">Equipo</button>
					</li>
				</ul>

				<!-- Menú desplegable para pantallas pequeñas -->
				<ul class="nav nav-tabs d-sm-none">
					<li class="nav-item dropdown">
						<a class="menu-drop nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							Menú
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" href="#student" data-bs-toggle="tab" onclick="updateDropdownText('Estudiante')">Estudiante</a>
							<a class="dropdown-item" href="#uniform" data-bs-toggle="tab" onclick="updateDropdownText('Uniforme')">Uniforme</a>
							<a class="dropdown-item" href="#coach" data-bs-toggle="tab" onclick="updateDropdownText('Coach')">Coach</a>
							<a class="dropdown-item" href="#team" data-bs-toggle="tab" onclick="updateDropdownText('Equipo')">Equipo</a>
						</div>
					</li>
				</ul>
			</div>

			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="student" role="tabpanel" aria-labelledby="student-tab">


					<div class="row general-data form">
						<h5 class="title">Datos personales</h5>

						<div class="col-md-4 mb-3">
							<label asp-for="student.Name" class="form-label">Nombre</label>
							<input asp-for="student.Name" class="form-control" placeholder="Introduce tu(s) nombre(s)" />
							<span asp-validation-for="student.Name" class="text-danger"></span>
						</div>
						<div class="col-md-4 mb-3">
							<label asp-for="student.LastName" class="form-label">Apellido paterno</label>
							<input asp-for="student.LastName" class="form-control" placeholder="Introduce tu apellido paterno" />
							<span asp-validation-for="student.LastName" class="text-danger"></span>
						</div>
						<div class="col-md-4 mb-3">
							<label asp-for="student.SecondLastName" class="form-label">Apellido materno</label>
							<input asp-for="student.SecondLastName" class="form-control" placeholder="Introduce tu apellido materno" />
							<span asp-validation-for="student.SecondLastName" class="text-danger"></span>
						</div>

						<div class="col-md-6 mb-3">
							<label asp-for="student.Phone" class="form-label">Número de teléfono</label>
							<input asp-for="student.Phone" class="form-control" placeholder="Introduce tu número de teléfono" />
							<span asp-validation-for="student.Phone" class="text-danger"></span>
						</div>

						<div class="col-md-6 mb-3">
							<label asp-for="student.ControlNumber" class="form-label">Número de control</label>
							<input asp-for="student.ControlNumber" class="form-control" placeholder="Introduce tu número de control" />
							<span asp-validation-for="student.ControlNumber" class="text-danger"></span>
						</div>

						<div class="col-md-9 mb-3">
							<label asp-for="student.Email" class="form-label">Correo institucional</label>
							<input asp-for="student.Email" class="form-control" placeholder="Introduce tu correo institucional" readonly />
							<span asp-validation-for="student.Email" class="text-danger"></span>
						</div>

						<div class="col-md-3 mb-3">
							<label asp-for="student.Age" class="form-label">Edad</label>
							<input asp-for="student.Age" class="form-control" placeholder="Introduce tu edad" />
							<span asp-validation-for="student.Age" class="text-danger"></span>
						</div>

						<div class="col-12 mb-3">
							<label asp-for="student.Career" class="form-label">Carrera</label>
							<div class="input-group">
								<span class="input-group-text">
									<i class="fas fa-graduation-cap"></i>
								</span>
								<select asp-for="student.Career" asp-items="ViewBag.CareerOptions" class="form-select">
									<option value="">Selecciona una carrera</option>
								</select>
							</div>
							<span asp-validation-for="student.Career" class="text-danger"></span>
						</div>

						<div class="col-md-6 mb-3">
							<label asp-for="student.emergencyContact" class="form-label">Contacto de emergencia</label>
							<input asp-for="student.emergencyContact" class="form-control" placeholder="Nombre del contacto de emergencia" />
							<span asp-validation-for="student.emergencyContact" class="text-danger"></span>
						</div>

						<div class="col-md-6 mb-3">
							<label asp-for="student.emergencyPhone" class="form-label">Teléfono de emergencia</label>
							<input asp-for="student.emergencyPhone" class="form-control" placeholder="Número de teléfono de emergencia" />
							<span asp-validation-for="student.emergencyPhone" class="text-danger"></span>
						</div>

					</div>

					<div class="row tournament-registration form">
						<h5 class="title">Datos para inscripción a torneos</h5>

						<div class="col-md-6 mb-3">
							<label asp-for="student.Curp" class="form-label">CURP</label>
							<input asp-for="student.Curp" class="form-control" placeholder="Introduce tu CURP" />
							<span asp-validation-for="student.Curp" class="text-danger"></span>
						</div>

						<div class="col-md-6 mb-3">
							<label asp-for="student.BloodType" class="form-label">Tipo de sangre</label>
							<input asp-for="student.BloodType" class="form-control" placeholder="Introduce tu tipo de sangre" />
							<span asp-validation-for="student.BloodType" class="text-danger"></span>
						</div>

						<div class="col-md-6 mb-3">
							<label asp-for="student.Semester" class="form-label">Semestre actual</label>
							<div class="input-group">
								<span class="input-group-text">
									<i class="fa-brands fa-google-scholar"></i>
								</span>
								<select asp-for="student.Semester" class="form-select">
									<option value="">Selecciona un semestre</option>
									<option value="Primer">Primer semestre</option>
									<option value="Segundo">Segundo semestre</option>
									<option value="Tercer">Tercer semestre</option>
									<option value="Cuarto">Cuarto semestre</option>
									<option value="Quinto">Quinto semestre</option>
									<option value="Sexto">Sexto semestre</option>
									<option value="Séptimo">Séptimo semestre</option>
									<option value="Octavo">Octavo semestre</option>
									<option value="Noveno">Noveno semestre</option>
									<option value="Décimo">Décimo semestre</option>
									<option value="Undécimo">Undécimo semestre</option>
									<option value="Duodécimo">Duodécimo semestre</option>
									<option value="Decimotercer">Decimotercer semestre</option>
									<option value="Decimocuarto">Decimocuarto semestre</option>
									<option value="Decimoquinto">Decimoquinto semestre</option>
									<option value="Egresado">Egresado</option>
								</select>
							</div>
							<span asp-validation-for="student.Semester" class="text-danger"></span>
						</div>

						@*
						<div class="col-md-6 mb-3">
						<label asp-for="Student.PreviousParticipations" class="form-label">Participaciones previas</label>
						<input asp-for="Student.PreviousParticipations" class="form-control" placeholder="Introduce la cantidad de participaciones previas" />
						<span asp-validation-for="Student.PreviousParticipations" class="text-danger"></span>
						</div> *@

						<div class="col-md-6 mb-3">
							<label asp-for="student.BirthDate" class="form-label">Fecha de nacimiento</label>
							<input asp-for="student.BirthDate" class="form-control" type="date" />
							<span asp-validation-for="student.BirthDate" class="text-danger"></span>
						</div>

						<div class="col-md-3 mb-3">
							<label asp-for="student.Weight" class="form-label">Peso (KG)</label>
							<input asp-for="student.Weight" class="form-control" placeholder="Introduce tu peso" />
							<span asp-validation-for="student.Weight" class="text-danger"></span>
						</div>

						<div class="col-md-3 mb-3">
							<label asp-for="student.Height" class="form-label">Altura (metros)</label>
							<input asp-for="student.Height" class="form-control" placeholder="Introduce tu altura" />
							<span asp-validation-for="student.Height" class="text-danger"></span>
						</div>

						<div class="col-md-6 mb-3">
							<label asp-for="student.Nss" class="form-label">NSS</label>
							<input asp-for="student.Nss" class="form-control" placeholder="Introduce tu NSS" />
							<span asp-validation-for="student.Nss" class="text-danger"></span>
						</div>

						<div class="col-md-6 mb-3">
							<label asp-for="student.Allergies" class="form-label">Alergias</label>
							<input asp-for="student.Allergies" class="form-control" placeholder="Introduce si tienes alergias" />
							<span asp-validation-for="student.Allergies" class="text-danger"></span>
						</div>

						<div class="col-md-6 mb-3">
							<label asp-for="student.enrollmentData" class="form-label">Fecha de ingreso</label>
							<input asp-for="student.enrollmentData" class="form-control" placeholder="Introduce tu fecha de ingreso" />
							<span asp-validation-for="student.enrollmentData" class="text-danger"></span>
						</div>

					</div>

					<div class="col-md-8">
						<div class="mb-3">
							<label asp-for="student.ImageUrl" class="form-label fw-bold">Imagen del estudiante</label>
							<input type="file"
								   class="form-control"
								   name="archivos"
								   id="subidaArchivo"
								   accept="image/*"
								   onchange="previewImage(this);" />
							<span asp-validation-for="student.ImageUrl" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="mb-3">
							<label class="form-label fw-bold">Vista previa de la imagen</label>
							<div class="d-flex justify-content-center">
								<img id="imagenVistaPreviaEstudiante"
									 src="@Model.student.ImageUrl"
									 class="img-fluid rounded border p-2"
									 style="max-width: 300px; width: 100%; object-fit: contain;"
									 alt="Vista previa"
									 onerror="this.src='/images/zorro_default.png';" />
							</div>
						</div>
					</div>

				</div>

				<div class="tab-pane fade" id="uniform" role="tabpanel" aria-labelledby="uniform-tab">

					<div class="info-card">
						<div class="d-flex flex-wrap align-items-center justify-content-between">
							<h6 class="me-5"><strong>Uniformes del alumno</strong></h6>

							@if (@Model.student.Team.Representative.Category == "Deportivo")
							{
								<div class="d-flex align-items-center gap-2">
									<label asp-for="student.numberUniform" class="form-label mb-0">Número:</label>
									<input asp-for="student.numberUniform" class="form-control numberInput text-center" placeholder="" />
									<span asp-validation-for="student.numberUniform" class="text-danger"></span>
								</div>
							}
						</div>
						<div id="uniformList" class="row g-3">
							@if (Model.uniforms == null || !Model.uniforms.Any())
							{
								<div class="not-found text-center mt-4">
									<i class="fa-solid fa-ban fs-2" style="color: red"></i>
									<p class="fs-2 mb-0">No se encontraron elementos</p>
								</div>
							}
							else
							{
								@for (int i = 0; i < Model.uniforms.Count; i++)
								{
									<div class="col-12 mb-1">
										<label asp-for="uniforms[i].size" class="form-label mb-1">@Model.namesUniform[i]</label>
										<input type="hidden" asp-for="namesUniform[i]" />
										<select asp-for="uniforms[i].size" class="form-control">
											<!option class="text-center" disabled @(Model.uniforms[i].size == null ? "selected" : "")>Selecciona una talla</!option>
											@foreach (var size in Enum.GetValues(typeof(SIIR.Models.Size)))
											{
												<!option class="text-center" value="@size" @(Model.uniforms[i].size == (SIIR.Models.Size)size ? "selected" : "")>@size</!option>
											}
										</select>
										<input type="hidden" asp-for="uniforms[i].Id" />
										<input type="hidden" asp-for="uniforms[i].RepresentativeId" />
										<input type="hidden" asp-for="uniforms[i].UniformCatalogId" />
									</div>
								}
							}
						</div>


					</div>
				</div>

				<div class="tab-pane fade" id="coach" role="tabpanel" aria-labelledby="coach-tab">
					<div class="info-card">
						<h6>Información del Coach</h6>
						<p><strong>Nombre:</strong> @Model.student.Coach.Name</p>
						<p><strong>Apellidos:</strong> @Model.student.Coach.LastName @Model.student.Coach.SecondLastName</p>
					</div>
				</div>

				<div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
					<div class="info-card">
						<h6>Información del Equipo</h6>
						<p><strong>Nombre:</strong> @Model.student.Team.Name</p>
						<p><strong>Categoria:</strong> @Model.student.Team.Category</p>
					</div>
				</div>

			</div>

			<div class="row mt-4">
				<div class="col-md-6">
					<button type="submit" class="btn btn-primary w-100 mb-2">
						<i class="fas fa-save me-2"></i> Guardar Cambios
					</button>
				</div>
				<div class="col-md-6">
					<a asp-action="Index" class="btn btn-secondary w-100">
						<i class="fas fa-arrow-left me-2"></i> Volver
					</a>
				</div>
			</div>
		</form>
		</div>
	
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		function updateDropdownText(selectedText)
		{
			document.getElementById('dropdownMenuLink').innerText = selectedText;
		}

		function previewImage(input) {
			var preview = document.getElementById('imagenVistaPreviaEstudiante');
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					preview.src = e.target.result;
				}
				reader.readAsDataURL(input.files[0]);
			}
		}
	</script>
}
